/* initialization the style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header styling */
.header{
    position: fixed; /* key property in style content */
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
/* Navigation section */
.header nav a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
.header nav a:hover{
    color: orangered;
}
/* button */
.header nav a button{
    background-color: lightcyan;
    color: red;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}
.header nav a button:hover{
    background: yellowgreen;
    color: black;
    font-weight: bold;
}
/* content styling */
.content {
    margin-top: 80px; /* Prevent content from hiding behind header */
    padding: 20px;
}
.content h2 {
    font-weight: bold;
    color: gray;
    font-style: italic;
    text-align: center;
}
.content p {
    font-weight: bold;
    color:black;
    font-style: italic;
    text-align: center;
}
/* Dummy boxes for scrolling */
.box {
    height: 400px;
    background: #daa0a0;
    margin: 20px 0;
}
.box h4{
    text-align: center;
    padding: 25px;
    margin-top: 25px;
}
.box  p {
    text-align: center;
    padding: 20px;
    margin: 10px;    
}